*{
    padding: 0;
    margin: 0;
}
.body-container{
    /*background-color: #06110e;*/
    /*background-color: #322b30;*/
    width: 100%;
    /*height: 650px;*/
    /*position: fixed;*/
}
/*---------------------nav bar----------------------------------*/
.nav-wrapper{
    width: 25%;
    /*height: 670px;*/
    /*margin-top: 10px;*/
    background-color: black;
    border-top-right-radius: 50px;
    /*border-bottom-right-radius: 50px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-header{
    width: 100%;
    height: 100px;
    /*background-color: #343a40;*/
    overflow: hidden;
    border-bottom: double #ffffff;
    border-bottom-width: 20px;
    display: flex;
}
.menu-button{
    width: 50%;
    height: 100%;
    /*background-color: #0dcaf0;*/
}
.nav-heading{
    width: 50%;
    height: 100%;
    /*background-color: #00cc00;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-heading > i {
    color: white;
    font-family: sans-serif;
    font-size: 2.5vw;
}
.fa{
    border: 4px solid #808080;
    border-radius: 10px;
    padding: 4px;
    color: white;
    margin: 20% 40% auto;
}
.nav-body{
    width: 100%;
    /*height: 500px;*/
    /*background-color: grey;*/
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    line-height: 30px;
}
.nav-wrapper > i {
    color: darkorange;
    font-family: sans-serif;
    font-size: 2.5vw;
    text-align: center;
    padding: 12px;
}
.nav-wrapper > span{
    border: 1px solid white;
    width: 80%;
}
.nav-body > a {
    padding: 10px;
    background-color: #052b30;
    margin: 10px;
    color: #ac8a07;
    font-size: 2vw;
    text-align: center;
    border-radius: 10px;
    flex: 1;
}
.nav-body > a:hover{
    background-color: #ff8c00;
    color: #000000;
}
